<!DOCTYPE html>
<html>
  <head>
    <title>GumroadClone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_pack_tag 'root-bundle' %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
    <article id='modals'/>
    <article id='toasts'/>
  </body>
</html>
